<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h3 class="titulo">TARJETA CREDITO</h3>

        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="titulo">AGREGAR TARJETA</h5>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="titulo">LISTADO DE TARJETAS </h5>
          <table class="table">
            <tbody>
              <tr>
                <td>Juan Lalal</td>
                <td>112222222</td>
                <td>11/11</td>
                <td></td>
                <td></td>
              </tr>

              <tr>
                <td>Juan Lalal</td>
                <td>112222222</td>
                <td>11/11</td>
                <td></td>
                <td></td>
              </tr>

              <tr>
                <td>Juan Lalal</td>
                <td>112222222</td>
                <td>11/11</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>


</div>
